@font-face {
    font-family: 'chathurabold';
    src: url('../fonts/chathura-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aaarghnormal';
    src:  url('../fonts/Aaargh-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.navbar-default{
    background-color: transparent;
    border-color: transparent;
}
header{
    background-color: #4ec0c0;
}

.navbar-brand,.navbar-brand:hover{
    background-color:white !important;
    height: 157px;
    width: 184px;
    border-radius: 0 0 10px 10px;
    padding: 34px 43px 19px 39px ;
}

#navbar a{
    color: white;
    font-family: "Arial Regular";
    font-size: 23.29px;
    padding-top: 41px;
    padding-left: 102px;
}


@media (max-width: 600px){
    .navbar-brand,.navbar-brand:hover{
        background-color:white !important;
        height: 100px;
        width: 120px;
        border-radius: 0 0 10px 10px;
        padding: 17px 30px 10px 30px ;
    }
}

.rectangle{
    background-color: #868894;
    height:209px;
    margin-top: -70px;
}

.about{
    background-color: #ffffff;
    margin-top: -138px;
}

.title{
    color:#e46141;
    font-family: "chathurabold";
    font-size: 69.47px;
    text-align: center;
}


.para{
    font-size: 16px;
    font-family: "aaarghnormal";
    text-align: center;
    padding-bottom: 44px;
}
.services{
    display: flex;
    justify-content: space-around;
}
.service{
    height:116px;
    width: 121.6px;
    background-color: #5b5c62;
    border-radius: 10px;
}
.services > div {
    display: flex;
    justify-content: center;
    vertical-align: bottom;
    font-size: 48px;
    text-align: center;
    font-family: 'chathurabold';
}
.happyicon-TWIN, .placeicon-TWIN, .timeicon-TWIN{
    color : white;
    align-self: flex-end;
    margin-bottom: -22px;
    font-size: 56px;
}
.contact{
    height:116px;
    width: 121.6px;
    background-color: #ff9f00;
    border-radius: 10px;
}

.customers{
    height:116px;
    width: 121.6px;
    background-color: #5b5c62;
    border-radius: 10px;
}

.title-orange {color: #ff9f00;}
.title-grey {color: #4c4b4b;}

.block-images{
    margin-top:80px;
}
.images {
	
	 padding-top : 88px;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}
.images > img {
    padding: 0;
    height: 198px;
}

.images > img:hover {
    opacity: 0.6;
    box-shadow: 0 0 0 black;
}

.para2 {
    padding-top: 95px;
    font-size: 16px;
    font-family: "aaarghnormal";
    text-align: center;}

.see-more{
    padding-top: 67px;
    padding-bottom: 84px;
    text-align: center;
}
.btn-seeMore{
    font-family: "chathurabold";
    font-size: 53.72px;
    color: #ef9c00;
    background-color: white;
    height: 75px;
    width: 388px;
    border-radius: 33px;
    border: 2px solid #ef9c00;
}

.btn-seeMore:hover{
    font-family: "chathurabold";
    font-size: 53.72px;
    color: white;
    background-color: #ef9c00;
    height: 75px;
    width: 388px;
    border-radius: 33px;
    border: 2px solid #ef9c00;
}
.statistic {
    text-align: center;
    padding: 30px;
    background-color: #ff9f00;

}
.statistic span {
    font-family: "Arial";
    font-weight: bold;
    font-size: 63.47px;
    color: #995437;
}
.statistic p {
    font-family: "Arial";
    font-size: 21.88px;
    color: white;
}
.rectangle-gris{
    background-color:#636272 ;
    height: 5px;
    margin-top: -5px;
}
footer {
    background-color: #868894;
    color: #353236;
    font-family: "Arial";
}

.footer1 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 70px;
}

.footer1 ul {
    list-style: none;
}

.footer-right span {
    font-size: 25px;
    font-weight: bold;
}
.footer-right p {
    font-size: 18.75px;
    text-align: justify;
}
.footer-right h6{
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 27px;
}
.aboutFooter {
    font-weight: bold;
    font-size: 20.83px;
    padding-bottom: 54px;
}
.lien{
    font-size: 20.83px;
    color: #353236;
}

.social-networks {
    margin-top : 51px;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}

.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoInstagram:hover {
    background-color:#BD3518;
}

.social-network a.icoYoutube:hover {
    background-color:#BD3518;
}

.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoSnapchat:hover {
    background-color: #FFFF00;
}


.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    background-color: #353236;
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle i {
    color: #fff;
}
